*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
span{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 400px;
    padding: 30px 0px 0px 42px;
}
nav{
  width:500px;
  padding: 30px 0px 0px 42px;
  ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-align: left;
    li{
        padding: 10px 0px 8px 0px;
    }
  }
  a{
    color:#3F5D45;
    font: normal normal 600 16px/73px PingFang TC;
  }
}
.banner{
    width:960px;
    height:500px;
    margin: 24px auto 0px auto;
}
.container{
    width:960px;
    margin: 24px auto 0px auto;
    display: flex;
}
.menu{
    width: 300px;
    margin-right:20px;
    .category{
        height:65px;
        background-color: #3F5D45;
        color: white;
        font: normal normal 600 24px/40px PingFang TC;
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: center;
        border: #EAF0ED  1px solid;
    }
    .item{
        height: 65px;
        color:#3F5D45;
        font: normal normal 600 24px/40px PingFang TC;
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: center;
        border: #EAF0ED  1px solid;
    }
    .item:hover{
      background-color: #EAF0ED;
    }
}
.card{
    width:640px;
    display: flex;
    flex-wrap: wrap;
}
.fooditem{
    margin: 0px 20px 20px 0px;
    width:300px;
    height:436px;
    .foodimg{
        position: relative;
        .special{
            width:36px;
            height:106px;
            background-color:#3F5D45;
            position: absolute;
            top:0;
            left:20px;
            p{
                margin: 10px;
                font: normal normal 600 16px/20px PingFang TC;
                color:#EAF0ED;
            }
        }
      .favorite{
          position: absolute;
          top:20px;
          right:18px;
      }
    }
    .foodinfor{
        width:300px;
        height:56px;
        display: flex;
        .title{
            width:173px;
            font-size:20px;
            color:#3F5D45;
            font: normal normal 300 20px/20px PingFang TC;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #EAF0ED;
        }
        .price{
            width:127px;
            font-size:20px;
            color:#3F5D45;
            font: normal normal 300 20px/20px PingFang TC;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #EAF0ED;
        }
    }
    .addcart{
        width:300px;
        height: 65px;
        padding: 16px 90px;
        background-color: #EAF0ED;
        display: flex;
        justify-content: center;
        align-items: center;
        button{
           border: none;
           margin: 0;
           padding: 0;
           outline: 0;
           color:#3F5D45;
           font-size:24px;
           font: normal normal 600 24px/20px PingFang TC;
        }
    }
}
.pagination{
    width:940px;
    margin: 24px auto 0px auto;
    display: flex;
    justify-content: flex-end;
    .pageitem{
        display:flex;
        width:300px;
        height:60px;
        .option{
            width:60px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #EAF0ED;
            color:#3F5D45;
            font: normal normal 300 20px/20px PingFang TC;
        }
        .option:hover{
            background-color: #3F5D45;
            color:white;
        }
    }
}